body {
  background: #222222;
}

.team-modal {
  background: #161622;
}

.team-modal__button {
  fill: #ffffff;
}

.team-modal__card {
  background-color: #1f1f29;
}

.team-modal__logo__light {
  display: none;
}

.team-modal__name {
  color: #ffffff;
}

.team-modal__position {
  color: #ffffff;
}

.team-modal__contacts {
  color: #ffffff;
}

.team-modal__link {
  fill: #ffffff;
}

.team-modal__link:hover,
.team-modal__link:focus {
  fill: #ff001b;
}

.page-title {
  color: #ffffff;
}

.card {
  background: #222222;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

.card .title {
  color: #ffffff;
}

.card .text {
  color: #ffffff;
}

.theme-change[data-theme="light"] {
  display: block;
}

.theme-change[data-theme="dark"] {
  display: none;
}
